/* =========================================== */
/* FONTS */
/* =========================================== */

@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Quicksand:300,400,700|Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic|Inconsolata:400,700|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300');

@font-face {
font-family: "CanterOutline";
src: url("../fonts/canter/CanterOutline.otf") format("opentype");
}

@font-face {
font-family: "CanterBold3D";
src: url("../fonts/canter/CanterBold3D.otf") format("opentype");
}

@font-face {
font-family: "SIFONN_BASIC";
src: url("../fonts/sifonn/SIFONN_BASIC.otf") format("opentype");
}

@font-face {
font-family: "SIFONN_BASIC_OUTLINE";
src: url("../fonts/sifonn/SIFONN_BASIC_OUTLINE.otf") format("opentype");
}

/* =========================================== */
/* GENERAL */
/* =========================================== */

	body {
		background-color: #F8F8F8;
		background-size: 100%;
		font-family: Lato;
		font-weight: 300;
	    letter-spacing: 0px;
	}

	pre {
   		white-space: pre-wrap;
   		word-wrap: break-word;
	}

	.prettyprint {
		font-family: 'Inconsolata';
		border-width: 3px;
		border-style: solid;
		border-color: #3399FF;
		padding: 1em;
	}

	.prettyprint ol li {
		padding-bottom: 0px; !important;
	}

	.center {
		text-align: center;
		}

	.shorthr {
		width: 100%;
		color: rgb(220,220,220);
		}

	.stickfigure {
		background: white;
		display: block;
		max-width: 25%;
		border-color: black;
		border-style: solid;
		border-width: 2px;
		border-radius: 20px;
		margin-bottom: 5%;
		margin-right: auto;
		margin-left: auto;
		}



/* =========================================== */
/* HEADER */
/* =========================================== */

header {
	top: 0;
	left: 0;
	margin: 0;
	position: fixed;
	display: block;
	width: 100%;
	background-color: #3399FF;
	text-decoration: none;
	color: white;
	z-index: 1000;
}

	header a:visited {
		text-decoration: none;
		color: white;
	}

	header h1 {
		font-family: SIFONN_BASIC_OUTLINE;
		font-size: 2em;
		margin-left: 5px;
		margin-top: 7px;
		float: left;
		text-decoration: none;
		font-weight: lighter;
	}

		header h1 a {
			text-decoration: none;
			color: white;
		}

		header h1 a:visited {
			text-decoration: none;
			color: white;
		}

	header h3 {
		font-family: 'Lato';
		display: block;
		margin-right: 15px;
		margin-top: 9.5px;
		float: right;
		text-decoration: none;
		color: white;
		font-weight: 100;
	}

		header h3 a {
			text-decoration: none;
			padding: 3px;
			color: white;
		}

		header h3 a:visited {
			text-decoration: none;
			color: white;
		}

		header h3 a:hover {
			color: #3399FF;
			background-color: white;
			border-radius: 5px;

			 -webkit-transition-duration: 0.4s;
			    -moz-transition-duration: 0.4s;
			     -ms-transition-duration: 0.4s;
			      -o-transition-duration: 0.4s;
			         transition-duration: 0.4s;
		}




/* =========================================== */
/* ABOUT */
/* =========================================== */

#about {
	padding-top: 10%;
	width: 100%;
	background-color: white;
}

.about {
	width:80%;
	height:auto;
	overflow:auto;
	margin:0 auto 0 auto;
}

.photo {
	width:30%;
	display: block;
	float: left;
	border-radius: 20px;
	margin:0 auto 40px auto;
}

.description {
	width:80%;
	margin-top: 1%;
	float:right;
	padding:20px 0;
	border-top:1px solid rgb(220,220,220);
	border-bottom:1px solid rgb(220,220,220);
	line-height: 1.25em;
}

	.description i {
		font-family: helvetica;
		font-style: italic;
	}

	.description span {
		font-family: helvetica;
		font-weight: bold;
	}

	.description ul {
		margin-left: 40px;
		list-style-type: initial;
	}

	.description p a, .description ul a {
		text-decoration: none;
		color: black;
		padding: 0 3px;
		border: 1px solid #3399FF;
		border-radius: 5px;
	}

	.description p a:visited, .description ul a:visited {
		text-decoration: none;
		color: black;
	}

	.description p a:hover, .description ul a:hover {
		color: white; !important;
		background: #3399FF;
		border-radius: 5px;

		 -webkit-transition-duration: 0.4s;
			-moz-transition-duration: 0.4s;
			 -ms-transition-duration: 0.4s;
			  -o-transition-duration: 0.4s;
			     transition-duration: 0.4s;
	}





/* =========================================== */
/* ARROWS */
/* =========================================== */

.arow_down {
	display: block;
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
	height: 45px;
	width: 45px;
	margin: 0 auto 5px auto;

	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}

.arow_top {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto 2% auto;
	bottom: 50px;
	right: 50px;
	padding: 0;

	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;

	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

	.arow_down:hover {
		border-radius: 50%;
		background-color: #3399FF;
	}

	.arow_down svg {
		padding-top: 13px;
		padding-left: 1px;
	}

	.arow_top:hover {
		border-radius: 50%;
		background-color: #3399FF;
	}

	.arow_top svg {
		padding-top: 13px;
		padding-left: 1px;
	}




/* =========================================== */
/* INDEX FILTER */
/* =========================================== */

.blogFilter {
	font-size: 1.5em;
	display: block;
	margin: 0 auto 2.5% auto;
	text-align: center;
	padding:0 0 6px 0;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	border-bottom:1px solid rgb(220,220,220);
	z-index:50;
}

.blogFilter a {
	margin-right: 10px;
	color: black;
	text-decoration:none;
	display: inline;
	padding:5px 10px 5px 10px;
	border-left:1px solid rgb(220,220,220);
	border-top:1px solid rgb(220,220,220);
	border-right:1px solid rgb(220,220,220);
	cursor:pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-family: Helvetica;
	font-size:1em;
	font-weight: lighter;
}

.blogFilter a.current {
    background-color:rgb(220,220,220);
}

.blogFilter a:hover {
    background-color: #3399FF;
    border-color: #3399FF;
    color: white;

    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
        -ms-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;

}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}





/* =========================================== */
/* INDEX */
/* =========================================== */

#blog {
	width: 100%;
	height:auto;
	padding: 7.5% 0 0 0;
	background-color: #F8F8F8;

}

.filterContainer, .blogContainer {
	width: 70%;
	height: auto;
	margin: 5% auto;
}
	.post {
		position: relative;
		margin: 1.1%;
    	font-weight: lighter;
    	background-size: cover;
    	background-position: center center;
		border-radius: 10px;
		border: 5px solid #F8F8F8;
	}

	.post:hover {
		border-color: #3399FF;
		cursor: pointer;

		-webkit-transition: border-color 0.5s ease;
		   -moz-transition: border-color 0.5s ease;
		     -o-transition: border-color 0.5s ease;
		    -ms-transition: border-color 0.5s ease;
		        transition: border-color 0.5s ease;
	}

  	.post a, .post p, .post h4 {
        color: black;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        background: white;
        font-weight: lighter;
    }

    .post a {
        vertical-align: middle;
    }

    .post h4 {
        font-size: 1.5em;
        margin: 25% 0 0 0;
        padding-bottom: 5px;
    }

    .post p {
        margin: 0 0 25% 0;
    }

.technical {background-image: url('../images/technical.png')}

.cultural {background-image: url('../images/cultural.png')}

.project {background-image: url('../images/project.png')}

















/* =========================================== */
/* COLUMNS */
/* =========================================== */

	outsidecolumn {
		display: inline-block;
		width: 26%;
		margin: 0% 5% 4% 5%;
		vertical-align: top;
		}

		outsidecolumn h2 {
			text-align: center;
			background-color: #3399FF;
			color: white;
			padding: 0% 1%;
			width: 100%;
			border-style: solid;
			border-color: black;
			border-radius: 17px;
			margin-bottom: 4%;
			}

		outsidecolumn li {
			padding-bottom: 4px;
			}

			outsidecolumn li a {
				text-decoration: none;
				}

	middlecolumn {
		display: inline-block;
		width: 26%;
		vertical-align: top;
		}

		middlecolumn h2 {
			text-align: center;
			background-color: #3399FF;
			color: white;
			padding: 0% 1%;
			width: 100%;
			border-style: solid;
			border-color: black;
			border-radius: 17px;
			margin-bottom: 4%;
			}

		middlecolumn li {
			padding-bottom: 4px;
			}

				middlecolumn li a {
					text-decoration: none;
					}


	singlecolumn {
	display: block;
	width: 26%;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	}

	singlecolumn h2 {
		text-align: center;
		background-color: #3399FF;
		color: white;
		padding: 0% 1%;
		width: 100%;
		border-style: solid;
		border-color: black;
		border-radius: 17px;
		}

	singlecolumn li {
		padding-bottom: 4px;
		}

			singlecolumn li a {
				text-decoration: none;
				}




/* =========================================== */
/* BLOG CONTENT */
/* =========================================== */

	.code {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 80%;
	}

	section {
		font-family: Lato;
		width: 90%;
		margin-top: auto;
		margin-right: auto;
		margin-left: auto;
		display: block;
		}

		section h1, section h2, section h3 {
			font-family: Lato;
			font-weight: 300;
			color: #444;
		}

		section h1 {
			font-size: 3em;
			padding-bottom: 3px;
			margin-bottom: 5px;
		}

			section h1 a {
			text-transform: uppercase;
			border: 2px solid #3399FF;
			color: black;
			padding: 0 3px;
			border-radius: 5px;
		}

			section p a, section ul a, section ol a {
				text-decoration: none;
				color: black;
				padding: 0 3px;
				border: 1px solid #3399FF;
				border-radius: 5px;
			}

			section h1 a:visited, section p a:visited, section ul a:visited, section ol a:visited {
				text-decoration: none;
				color: black;
			}

			section h1 a:hover, section p a:hover, section ul a:hover, section ol a:hover {
				color: white; !important;
				background: #3399FF;
				border-radius: 5px;

				 -webkit-transition-duration: 0.4s;
					-moz-transition-duration: 0.4s;
					 -ms-transition-duration: 0.4s;
					  -o-transition-duration: 0.4s;
					     transition-duration: 0.4s;
			}

		section h2 {
			font-size: 2em;
			padding-bottom: 3px;
		}

		section h3 {
			font-style: italic
		}

		section p {
			font-size: 1.5em;
			padding: 10px 0 10px 0;
			line-height: 1.5em;
			color: #444;
			margin-top: 40px;
		}

		section iframe {
			margin-left:auto;
			margin-right:auto;
			display:block
		}

		section ol, article ul {
			margin: 40px 0;
		}

			section ol li, section ul li {
				padding-bottom: 1em;
				font-size: 1.5em;
				line-height: 1.5em;
				margin-left: 60px;
			}

	article {
		font-family: Lato;
		width: 60%;
		margin: 3.5% auto 5% auto;
		padding-top: 7.5%;
		display: block;
		}

		article h1, article h2, article h3 {
			font-family: Lato;
			font-weight: 300;
			color: #444;
			margin-bottom: 5px;
		}

		article h1 {
			font-size: 3em;
			padding-bottom: 3px;
		}

		article h1 a {
			text-transform: uppercase;
			border: 2px solid #3399FF;
			color: black;
			padding: 0 3px;
			border-radius: 5px;
		}

			article h1 a, article p a, article ul a, article ol a {
				text-decoration: none;
				color: black;
				padding: 0 3px;
				border: 1px solid #3399FF;
				border-radius: 5px;
			}

			article h1 a:visited, article p a:visited, article ul a:visited, article ol a:visited {
				text-decoration: none;
				color: black;
			}

			article h1 a:hover, article p a:hover, article ul a:hover, article ol a:hover {
				color: white; !important;
				background: #3399FF;
				border-radius: 5px;

				 -webkit-transition-duration: 0.4s;
					-moz-transition-duration: 0.4s;
					 -ms-transition-duration: 0.4s;
					  -o-transition-duration: 0.4s;
					     transition-duration: 0.4s;
			}

		article h2 {
			font-size: 2em;
			padding-bottom: 3px;
		}

		article h3 {
			font-style: italic
		}

		article p {
			font-size: 1.5em;
			padding: 10px 0 10px 0;
			line-height: 1.5em;
			color: #444;
			margin-top: 40px;
		}

		article iframe {
			margin-left:auto;
			margin-right:auto;
			display:block
		}

		article ol, article ul {
			margin: 40px 0;
		}

			article ol li, article ul li {
				padding-bottom: 1em;
				font-size: 1.5em;
				line-height: 1.5em;
				margin-left: 60px;
			}



	.imgcenter {
		vertical-align: middle;
		width: 500px;
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		}

	.imgs {
		width: 100%;
		position: relative;
		text-align: center;
		}

	.img1 {
		vertical-align: middle;
		width: 40%;
		margin-right:10%;
		}

	.img2 {
		vertical-align: middle;
		width: 40%;
		}




/* =========================================== */
/* FOOTER */
/* =========================================== */

#contact {
	padding: 2.5% 0 2.5% 10%;
	background-color: white;
	}

.social {
	width: 100%;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	margin: 0 auto;
	}

	.social li {
		text-align: center;
		float: left;
		width: 14.5%;
		}

.fa-envelope-square, .fa-linkedin-square, .fa-github-square, .fa-google-plus-square, .fa-facebook-square, .fa-twitter-square, .fa-instagram-square {
	color: black;
	padding: 5px 8px 4px 8px;
}

.fa-envelope-square:hover, .fa-linkedin-square:hover, .fa-github-square:hover, .fa-google-plus-square:hover, .fa-facebook-square:hover, .fa-twitter-square:hover, .fa-instagram-square:hover  {
	color: white;
	background-color: #3399FF;
	border-radius: 10px;

	 -webkit-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		 -ms-transition-duration: 0.4s;
		  -o-transition-duration: 0.4s;
		     transition-duration: 0.4s;
}

#copyright {
	background: white;
	padding-bottom: 2.5%;
}

	#copyright p {
		background: white;
		text-align: center;
		display: block;
		margin:0 auto;
		background-color: white;
	}


.arrow_down {
	display: block;
	width: 100%;
	background: white;
	padding-bottom: 2%;
}

.arrow_up {
	display: block;
	width: 100%;
	background: #F8F8F8;
	padding-bottom: 2%;
}

	.arrow_down a, .arrow_up a {
		color: black;
	}

	.arrow_down a:visited, .arrow_up a:visited {
		color: black;
	}

.fa-angle-down {
	width: 80px;
}

.fa-angle-up {
	width: 85px;
	height: 85px;
}

.fa-angle-down:hover, .fa-angle-up:hover {
	color: white;
	border-radius: 50%;
	background-color: #3399FF;

	 -webkit-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		 -ms-transition-duration: 0.4s;
		  -o-transition-duration: 0.4s;
		     transition-duration: 0.4s;
}

/* =========================================== */
/* =========================================== */
/* MEDIA QUERIES */
/* =========================================== */
/* =========================================== */

/* iPhones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.post {
		width:96%;
		margin-bottom: 5%;
		font-size: 3em;
		border: 5px solid black;
		border-radius: 10px;
	}
	.photo {
		width: 100%;
		display: block;
		border-radius: 5%;
	}
	.description {
		width:100%;
		float: left;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.section, .article {
		width: 85%;
	}
	.header h1 {
		text-align: center;
		width: 100%;
	}
	.header h3 {
		display: none;
	}
}

/* iPads */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.post {
		width: 42%;
		margin: 3%;
	}
	.photo {
		width:20%;
		display: block;
		float: left;
		border-radius: 5%;
		margin:0 auto 40px auto;
	}
	.description {
		width:58%;
		margin-top: 1%;
		float:right;
		padding:20px 0;
		border-top:1px solid rgb(220,220,220);
		border-bottom:1px solid rgb(220,220,220);
	}
}

@media only screen and (max-width:670px) {
	header h1 {
		text-align: center;
		width: 100%;
	}

	.header-links {
		text-align: center;
		margin: 0.5em auto;
	}
	}

/* Other Screens */
@media only screen and (min-width:1024px) {
	.post {
		width:30%;
	}
	.photo {
		width:35%;
		display: block;
		float: left;
		border-radius: 5%;
		margin:0 auto 40px auto;
	}
	.description {
		width:58%;
		margin-top: 1.5%;
		float:right;
		padding:20px 0;
		border-top:1px solid rgb(220,220,220);
		border-bottom:1px solid rgb(220,220,220);
	}
}

/* =========================================== */
/* =========================================== */
/* =========================================== */
/* =========================================== */

