/* Desktops and Laptops (>1024px) (portrait and landscape) ----------------------------------------------------------------------------- */

/* =========================================== */
/* GENERAL */
/* =========================================== */

	body {
		background-color: #F8F8F8;
		background-size: 100%;
		font-family: Helvetica Neue;
		font: 200 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-weight: 200;
	    letter-spacing: 0px;
	}

	pre {
   		white-space: pre-wrap;
   		word-wrap: break-word;
	}

	.prettyprint {
		font-family: 'Inconsolata';
		border-width: 3px;
		border-style: solid;
		border-color: #3399FF;
		padding: 1em;
	}

	.prettyprint ol li {
		padding-bottom: 0px; !important;
	}

	a:visited {
		color: blue; !important;
	}

	.center {
		text-align: center;
		}

	.shorthr {
		width: 100%;
		}

	.stickfigure {
		display: block;
		max-width: 25%;
		border-color: black;
		border-style: solid;
		border-width: 2px;
		border-radius: 20px;
		margin-bottom: 5%;
		margin-right: auto;
		margin-left: auto;
		}

	table {
		margin: auto;
		border-collapse: separate;
        border-spacing: 2em;
		}

		table td {
			width: 10em;
			height: 15em;
			word-wrap: break-word;
			border-style: solid;
			border-color: black;
			border-width: 1px;
			border: 1;
			opacity: 0.5;
			padding: 0;
		}

			table td:hover {
				opacity: 1;
			}

			table td a {
				margin: 0 0 0 0;
				display: block;
				width: 100%;
				text-decoration: none;
				color: black;
				opacity: 1; !important;
			}

			table td p, h4 {
				display: block;
				color: black;
				background: white;
				padding: 5px;
				clear: right;
				margin: 0;
				text-align: center;
				font-weight: lighter;
				opacity: 1; !important;
			}

			table td h4 {
				font-size: 1.5em;
			}

	.technical {
		background-size: cover;
		background: url(../images/technical.png)
		}

	.cultural {
		background-size: cover;
		background: url(../images/cultural.png)
	}

	.other {
		background-size: cover;
		background: url(../images/other.png)
	}





/* =========================================== */
/* HEADER */
/* =========================================== */

header {
	font-family: Josefin Sans;
	top: 0;
	left: 0;
	margin: 0;
	position: fixed;
	display: block;
	width: 100%;
	height: 20%;
	background-color: #3399FF;
	border-bottom: 1 solid gray;
	text-decoration: none;
	color: white;
	z-index: 1000;
}

	header a:visited {
		text-decoration: none;
		color: white;
	}

	header h1 {
		font-family: Josefin Sans;
		font-size: 2em;
		margin-left: 10px;
		margin-top: 14px;
		float: left;
		text-decoration: none;
		padding-right: 2.5%;
		border-right: 1 solid gray;
	}

		header h1 a {
			text-decoration: none;
		}

		header h1 a:visited {
			text-decoration: none;
			color: white;
		}

	header h3 {
		margin-right: 40px;
		margin-top: 20px;
		float: right;
		text-decoration: none;
	}

		header h3 a {
			text-decoration: none;
		}

		header h3 a:visited {
			text-decoration: none;
			color:;
		}




/* =========================================== */
/* NAVIGATION */
/* =========================================== */

	.nav {
		width: 100%;
		float: left;
		margin: 0;
		padding: 0 0 1em 0;
		list-style-type: none;
		}

	.nav li {
		float: left;
		width: 25%;
		}

		.nav li a {
			display: block;
			text-align: center;
			text-decoration: none;
			}

			.nav li a:hover {
				color: #c00; !important;
				background-color: #fff;
				}

			.nav li a:visited {
				color: blue;
				}

/* =========================================== */
/* INDEX TABLE */
/* =========================================== */

.index_table {
	width: 70%;
	margin: 0px auto;
	text-align: center;
}

	.index_table td {
		border-radius: 20px;
		vertical-align: middle;
	}


/* =========================================== */
/* COLUMNS */
/* =========================================== */

	outsidecolumn {
		display: inline-block;
		width: 26%;
		margin-left: 5%;
		margin-right: 5%;
		vertical-align: top;
		}

		outsidecolumn h2 {
			text-align: center;
			background-color: #3399FF;
			color: yellow;
			padding: 0% 1%;
			width: 100%;
			border-style: solid;
			border-color: black;
			border-radius: 17px;
			}

		outsidecolumn li {
			padding-bottom: 4px;
			}

			outsidecolumn li a {
				text-decoration: none;
				}

				outsidecolumn li a:visited {
					color: blue;
					}

	middlecolumn {
		display: inline-block;
		width: 26%;
		vertical-align: top;
		}

		middlecolumn h2 {
			text-align: center;
			background-color: #3399FF;
			color: yellow;
			padding: 0% 1%;
			width: 100%;
			border-style: solid;
			border-color: black;
			border-radius: 17px;
			}

		middlecolumn li {
			padding-bottom: 4px;
			}

				middlecolumn li a {
					text-decoration: none;
					}

					middlecolumn li a:visited {
						color: blue;
						}

	singlecolumn {
	display: block;
	width: 26%;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	}

	singlecolumn h2 {
		text-align: center;
		background-color: #3399FF;
		color: yellow;
		padding: 0% 1%;
		width: 100%;
		border-style: solid;
		border-color: black;
		border-radius: 17px;
		}

	singlecolumn li {
		padding-bottom: 4px;
		}

			singlecolumn li a {
				text-decoration: none;
				}

				singlecolumn li a:visited {
					color: blue;
					}




/* =========================================== */
/* BLOG CONTENT */
/* =========================================== */

	.code {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 80%;
	}

	section {
		font-family: Courier; monospace;
		width: 90%;
		margin-top: auto;
		margin-right: auto;
		margin-left: auto;
		display: block;
		}

		section h1 a:visited {
				color: blue;
			}

		section p {
			font-family: Roboto
		}

		section ol {
			font-family: Roboto
		}

		section ul {
			font-family: Roboto
		}

	article {
		font-family: Courier; monospace;
		width: 60%;
		margin-top: 5%;
		margin-right: auto;
		margin-left: auto;
		display: block;
		}

		article h1 {
			font-size: 2em;
		}

			article h1 a:visited {
				color: blue;
			}

		article p {
			font-family: Roboto
		}

		article ol {
			font-family: Roboto
		}

			article ol li {
				padding-bottom: 1em;
			}

				article ol li a: visited{
				color: blue;
			}

		article ul {
			font-family: Roboto
		}

			article ul li {
				padding-bottom: 1em;
			}

				article ul li a: visited{
				color: blue;
			}

		article iframe {
			margin-left:auto;
			margin-right:auto;
			display:block
		}

	.imgcenter {
		vertical-align: middle;
		width: 500px;
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		}

	.imgs {
		width: 100%;
		position: relative;
		text-align: center;
		}

	.img1 {
		vertical-align: middle;
		width: 40%;
		margin-right:10%;
		}

	.img2 {
		vertical-align: middle;
		width: 40%;
		}




/* =========================================== */
/* FOOTER */
/* =========================================== */

	footer {
		background-color: #3399FF;
		width: 90%;
		height: 15%;
		margin-top: 5%;
		margin-bottom: 2.5%;
		margin-left: auto;
		margin-right: auto;
		border-style: solid;
		border-width: 5px;
		padding: 10px 10px 60px 10px;
		}

	.social {
		width: 100%;
		float: left;
		margin: 0 0 3em 0;
		padding: 0;
		list-style-type: none;
		}

		.social li {
			text-align: center;
			float: left;
			width: 14.28%;
			}

			.social li a {
				display: block;
				}

				.social li a:hover {
					color: #c00;
					background-color: #fff;
					}




/* =========================================== */
/* INDEX FILTER */
/* =========================================== */

.blogFilter {
	font-size: 1.5em;
	display: block;
	margin: 0 auto 2.5% auto;
	text-align: center;
}
.blogFilter a {
    margin-right: 10px;
    color: black;
    text-decoration:none;
}

.blogFilter a.current {
    font-weight:bold;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}




/* =========================================== */
/* INDEX */
/* =========================================== */

#blog-wrapper {
	margin: 5% auto 5% auto;
	width: 70%;
}

.post {
    width: 30%;
    margin: 1.5%;
    font-weight: lighter;
    background-size: cover;
    background-position: center center;
	border-radius: 10px;
}

    .post a, p, h4 {
        color: black;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        background: white;
        font-weight: lighter;
    }

    .post a {
        vertical-align: middle;
    }

    .post h4 {
        font-size: 1.5em;
        margin: 25% 0 0 0;
    }

    .post p {
        margin: 0 0 25% 0;
    }

.technical {background-image: url('../images/technical.png')}

.cultural {background-image: url('../images/cultural.png')}

.project {background-image: url('../images/project.png')}