/* Desktops and Laptops (>1024px) (portrait and landscape) ----------------------------------------------------------------------------- */

/* General -----------------------------------------------------------------------------*/

	.font {
		color: #000 !important;
		font-family: Courier; monospace; !important;
		a:visited {
			color: blue; !important;
			}
		}

	.center {
		text-align: center;
		}

	.shorthr {
		max-width: 500px;
		}

	.stickfigure {
		display: block;
		max-width: 25%;
		border-color: black;
		border-style: solid;
		border-width: 2px;
		border-radius: 20px;
		margin-bottom: 5%;
		margin-right: auto;
		margin-left: auto;
		}

/* Header -----------------------------------------------------------------------------*/

	header {
		font-family: 'Lobster', cursive;
		background-color: #3399FF;
		width: 90%;
		height: 10%;
		margin-top: 4%;
		margin-left: auto;
		margin-right: auto;
		border-style: solid;
		border-width: 5px;
		padding: 0px 10px 30px 10px;
		}

		header h1 {
			color: #fff;
			font-size: 3em;
			}

			header h1 a {
				text-decoration: none;
				color: #fff; !important;
				}

/* Navigation -----------------------------------------------------------------------------*/

	.nav {
		width: 100%;
		float: left;
		margin: 0;
		padding: 0 0 1em 0;
		list-style-type: none;
		}

	.nav li {
		float: left;
		width: 25%;
		}

		.nav li a {
			display: block;
			text-align: center;
			text-decoration: none;
			}

			.nav li a:hover {
				color: #c00; !important;
				background-color: #fff;
				}

			.nav li a:visited {
				color: blue;
				}

/* Index ----------------------------------------------------------------------------- */

	outsidecolumn {
		display: inline-block;
		width: 26%;
		margin-left: 5%;
		margin-right: 5%;
		vertical-align: top;
		}

		outsidecolumn h2 {
			text-align: center;
			background-color: #3399FF;
			color: yellow;
			padding: 0% 1%;
			width: 100%;
			border-style: solid;
			border-color: black;
			border-radius: 17px;
			}

		outsidecolumn li {
			padding-bottom: 4px;
			}

			outsidecolumn li a {
				text-decoration: none;
				}

				outsidecolumn li a:visited {
					color: blue;
					}

	middlecolumn {
		display: inline-block;
		width: 26%;
		vertical-align: top;
		}

		middlecolumn h2 {
			text-align: center;
			background-color: #3399FF;
			color: yellow;
			padding: 0% 1%;
			width: 100%;
			border-style: solid;
			border-color: black;
			border-radius: 17px;
			}

		middlecolumn li {
			padding-bottom: 4px;
			}

				middlecolumn li a {
					text-decoration: none;
					}

					middlecolumn li a:visited {
						color: blue;
						}

	singlecolumn {
	display: block;
	width: 26%;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	}

	singlecolumn h2 {
		text-align: center;
		background-color: #3399FF;
		color: yellow;
		padding: 0% 1%;
		width: 100%;
		border-style: solid;
		border-color: black;
		border-radius: 17px;
		}

	singlecolumn li {
		padding-bottom: 4px;
		}

			singlecolumn li a {
				text-decoration: none;
				}

				singlecolumn li a:visited {
					color: blue;
					}

/* Blog Content ----------------------------------------------------------------------------- */

	section {
		width: 90%;
		margin-top: auto;
		margin-right: auto;
		margin-left: auto;
		display: block;
		}

		section h1 a:visited {
				color: blue;
			}

	article {
		width: 90%;
		margin-top: 5%;
		margin-right: auto;
		margin-left: auto;
		display: block;
		}

		article h1 {
			font-size: 2em;
		}

			article h1 a:visited {
				color: blue;
			}

		article ol li {
			padding-bottom: 1em;
		}

			article ol li a: visited{
			color: blue;
		}

		article ul li {
			padding-bottom: 1em;
		}

			article ul li a: visited{
			color: blue;
		}

		article iframe {
			margin-left:auto;
			margin-right:auto;
			display:block
		}

	.imgcenter {
		width: 500px;
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		}

	.imgs {
		width:100%;
		position: relative;
		text-align: center;
		}

	.img1 {
		width: 500px;
		margin-right:10%;
		}

	.img2 {
		width: 500px;
		}

/* Footer and Social ----------------------------------------------------------------------------- */

	footer {
		background-color: #3399FF;
		width: 90%;
		height: 15%;
		margin-top: 5%;
		margin-bottom: 2.5%;
		margin-left: auto;
		margin-right: auto;
		border-style: solid;
		border-width: 5px;
		padding: 10px 10px 60px 10px;
		}

	.social {
		width: 100%;
		float: left;
		margin: 0 0 3em 0;
		padding: 0;
		list-style-type: none;
		}

		.social li {
			text-align: center;
			float: left;
			width: 14.28%;
			}

			.social li a {
				display: block;
				}

				.social li a:hover {
					color: #c00;
					background-color: #fff;
					}