.font {
	color: #000 !important;
	font-family: Courier; monospace; !important;
	}

.center {
	text-align: center;
	}

header {
	background-color: #3399FF;
	width: 90%;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	border-style: solid;
	border-width: 5px;
	padding: 10px 10px 10px 10px;
	}

.nav {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	}

content {
	width: 90%;
	margin-top: 5%;
	margin-right: 5%;
	margin-left: 5%;
	display: inline-block;
	}

footer {
	text-align: center;
	background-color: #3399FF;
	width: 90%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	border-style: solid;
	border-width: 5px;
	padding: 10px 10px 10px 10px;
	}

