/* Smartphones (portrait and landscape) ----------------------------------------------------------------------------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

/* General -----------------------------------------------------------------------------*/

	.font {
		color: #000 !important;
		font-family: Courier; monospace; !important;
		font-size: 2em;
		}

	.center {
		text-align: center;
		}

	.shorthr {
		max-width: 500px;
		}

	.stickfigure {
		display: inline-block;
		max-width: 25%;
		border-color: black;
		border-style: solid;
		border-width: 2px;
		border-radius: 20px;
		}

/* Header -----------------------------------------------------------------------------*/

	header {
		font-family: 'Lobster', cursive;
		background-color: #3399FF;
		width: 90%;
		height: 40%;
		margin-top: 4%;
		margin-left: auto;
		margin-right: auto;
		border-style: solid;
		border-width: 5px;
		padding: 0px 10px 170px 10px;
		}

	header h1 {
		color: #fff;
		font-size: 3em;
		}

		header h1 a {
			text-decoration: none;
			color: #fff; !important;
			}

/* Navigation -----------------------------------------------------------------------------*/

	.nav {
		width: 100%;
		float: left;
		margin: 0 0 1em 0;
		padding: 0;
		list-style-type: none;
		}

	.nav li {
		display: block;
		float: left;
		width: 25%;
		padding-left: 12.5%;
		padding-right: 12.5%;
		padding-bottom: 5%;
		}

		.nav li a {
			color: blue; !important;
			text-align: center;
			text-decoration: none;
			background-color: #fff;
			border-style: solid;
			border-color: #fff;
			border-radius: 17px;
			}

			.nav li a:visited {
				text-decoration: none;
				}

/* Index ----------------------------------------------------------------------------- */

	outsidecolumn {
		display: block;
		width: 80%;
		padding: 0% 1%;
		margin-left: auto;
		margin-right: auto;
		}

		outsidecolumn h2 {
			text-align: center;
			background-color: #3399FF;
			color: yellow;
			padding: 0% 1%;
			width: 100%;
			border-style: solid;
			border-color: black;
			border-radius: 17px;
			}

		outsidecolumn li {
			padding-bottom: 4px;
			}

			outsidecolumn li a {
				text-decoration: none;
				}

				outsidecolumn li a:visited {
					text-decoration: none; !important;
					}

	middlecolumn {
		display: block;
		width: 80%;
		padding: 0% 1%;
		margin-left: auto;
		margin-right: auto;
		}

		middlecolumn h2 {
			text-align: center;
			background-color: #3399FF;
			color: yellow;
			padding: 0% 1%;
			width: 100%;
			border-style: solid;
			border-color: black;
			border-radius: 17px;
			}

			middlecolumn li {
			padding-bottom: 4px;
			}

				middlecolumn li a {
					text-decoration: none;
					}

					middlecolumn li a:visited {
						text-decoration: none; !important;
						}

	singlecolumn {
	display: block;
	width: 80%;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	}

	singlecolumn h2 {
		text-align: center;
		background-color: #3399FF;
		color: yellow;
		padding: 0% 1%;
		width: 100%;
		border-style: solid;
		border-color: black;
		border-radius: 17px;
		}

	singlecolumn li {
		padding-bottom: 4px;
		}

			singlecolumn li a {
				text-decoration: none;
				}

				singlecolumn li a:visited {
					text-decoration: none; !important;
					}

/* Blog Content ----------------------------------------------------------------------------- */

	content {
		width: 90%;
		margin-top: auto;
		margin-right: auto;
		margin-left: auto;
		display: block;
		}

	.imgcenter {
		width: 30%;
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		}

	.imgs {
		width:100%;
		position: relative;
		text-align: center;
		}

	.img1 {
		width:30%;
		margin-right:10%;
		}

	.img2 {
		width:30%;
		}

/* Footer and Social ----------------------------------------------------------------------------- */

	footer {
		background-color: #3399FF;
		width: 90%;
		height: 15%;
		margin-top: 5%;
		margin-bottom: 2.5%;
		margin-left: auto;
		margin-right: auto;
		border-style: solid;
		border-width: 5px;
		padding: 10px 10px 60px 10px;
		}

	.social {
		width: 100%;
		float: left;
		margin: 0 0 3em 0;
		padding: 0;
		list-style-type: none;
		}

		.social li {
			text-align: center;
			float: left;
			width: 14.28%;
			}

			.social li a {
				display: block;
				}

				.social li a:hover {
					color: #c00;
					background-color: #fff;
					}

}