/* =========================================== */
/* GENERAL */
/* =========================================== */

	body {
		background-color: #F8F8F8;
		background-size: 100%;
		font-family: Helvetica Neue;
		font: 200 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-weight: 200;
	    letter-spacing: 0px;
	}

	pre {
   		white-space: pre-wrap;
   		word-wrap: break-word;
	}

	.prettyprint {
		font-family: 'Inconsolata';
		border-width: 3px;
		border-style: solid;
		border-color: #3399FF;
		padding: 1em;
	}

	.prettyprint ol li {
		padding-bottom: 0px; !important;
	}

	a:visited {
		color: blue; !important;
	}

	.center {
		text-align: center;
		}

	.shorthr {
		width: 100%;
		color: rgb(220,220,220);
		}

	.stickfigure {
		display: block;
		max-width: 25%;
		border-color: black;
		border-style: solid;
		border-width: 2px;
		border-radius: 20px;
		margin-bottom: 5%;
		margin-right: auto;
		margin-left: auto;
		}





/* =========================================== */
/* HEADER */
/* =========================================== */

header {
	font-family: Josefin Sans;
	top: 0;
	left: 0;
	margin: 0;
	position: fixed;
	display: block;
	width: 100%;
	background-color: #3399FF;
	text-decoration: none;
	color: white;
	z-index: 1000;
}


	header a:visited {
		text-decoration: none;
		color: white;
	}

	header h1 {
		font-family: Josefin Sans;
		font-size: 2.5em;
		margin-left: 10px;
		margin-top: 8px;
		float: left;
		text-decoration: none;
		border-right: 1 solid gray;
		color: white;

		-webkit-transition: font-size 0.1s ease;
		-moz-transition: font-size 0.1s ease;
		-o-transition: font-size 0.1s ease;
		-ms-transition: font-size 0.1s ease;
		z-index: 9999
		top: 0
		position: fixed
	}

	header.shrink h1{
		font-size: 2em;
		-webkit-transition: scale (0.6);
		-moz-transition: scale (0.6);
		-o-transition: scale (0.6);
		-ms-transition: scale (0.6);
		z-index: 9999
		top: 0
		position: fixed
	}

		header h1 a {
			text-decoration: none;
			color: white;
		}

		header h1 a:visited {
			text-decoration: none;
			color: white;
		}

	header h3 {
		display: block;
		margin-right: 20px;
		margin-top: 18px;
		float: right;
		text-decoration: none;
		color: white;

		-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		-ms-transition: all 0.1s ease;
		z-index: 9999
		top: 0
		position: fixed
	}

		header h3 a {
			text-decoration: none;
			color: white;
		}

		header h3 a:visited {
			text-decoration: none;
			color: white;
		}

		header h3: a:hover {
			background-color: gray; !important;
		}

		header.shrink h3{
			margin-top: 14px;
			-webkit-transition: scale (0.6);
			-moz-transition: scale (0.6);
			-o-transition: scale (0.6);
			-ms-transition: scale (0.6);
			z-index: 9999
			top: 0
			position: fixed
		}




/* =========================================== */
/* ABOUT */
/* =========================================== */

#about {
	padding-top: 10%;
	width: 100%;
	background-color: white;
	padding-bottom: 5%;
}

.about {
	width:70%;
	height:auto;
	overflow:auto;
	margin:0 auto 0 auto;
}

.one-third {
	width:29%;
	height:auto;
	float:left;
	text-align:center;
	font-family: Helvetica;
	font-weight:700;
}

.photo {
	width:350px;
	border-radius: 20px;
	margin:0 auto 40px auto;
	display:inline-block;
}

.two-third {
	width:58%;
	margin-top: 1%;
	float:right;
	padding:20px 0;
	border-top:1px solid rgb(220,220,220);
	border-bottom:1px solid rgb(220,220,220);
}

	.two-third i {
		font-family: helvetica;
		font-style: italic;
	}

	.two-third span {
		font-family: helvetica;
		font-weight: bold;
	}

	.two-third ul {
		margin-left: 40px;
		list-style-type: initial;
	}





/* =========================================== */
/* ARROWS */
/* =========================================== */

.arow_down {
	display: block;
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
	height: 45px;
	width: 45px;
	margin: 0 auto 5px auto;

	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}

.arow_top {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto 2% auto;
	bottom: 50px;
	right: 50px;
	padding: 0;

	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;

	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

	.arow_down:hover {
		border-radius: 50%;
		background-color: #3399FF;
	}

	.arow_down svg {
		padding-top: 13px;
		padding-left: 1px;
	}

	.arow_top:hover {
		border-radius: 50%;
		background-color: #3399FF;
	}

	.arow_top svg {
		padding-top: 13px;
		padding-left: 1px;
	}




/* =========================================== */
/* INDEX FILTER */
/* =========================================== */

.blogFilter {
	font-size: 1.5em;
	display: block;
	margin: 0 auto 2.5% auto;
	text-align: center;
	padding:0 0 6px 0;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	border-bottom:1px solid rgb(220,220,220);
	z-index:50;
}

.blogFilter a {
	margin-right: 10px;
	color: black;
	text-decoration:none;
	display: inline;
	padding:5px 10px 8px 10px;
	border-left:1px solid rgb(220,220,220);
	border-top:1px solid rgb(220,220,220);
	border-right:1px solid rgb(220,220,220);
	cursor:pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-family: Helvetica;
	font-size:1em;
	font-weight: lighter;
}

.blogFilter a.current {
    background-color:rgb(220,220,220);
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}





/* =========================================== */
/* INDEX */
/* =========================================== */

#blog {
	width: 100%;
	height:auto;
	padding: 7.5% 0 7.5% 0;
	background-color: #F8F8F8;

}

.filterContainer, .blogContainer {
	width: 70%;
	height: auto;
	margin: 5% auto;
}
	.post {
		position: relative;
		margin: 1.5%;
    	font-weight: lighter;
    	background-size: cover;
    	background-position: center center;
		border-radius: 10px;
	}

	.post:hover {
		opacity: 0.5;

		-webkit-transition-duration: opacity 0.8s ease;
	    -moz-transition-duration: opacity 0.8s ease;
	    -ms-transition-duration: opacity 0.8s ease;
	    -o-transition-duration: opacity 0.8s ease;
	    transition-duration: opacity 0.8s ease;
	}

  	.post a, .post p, .post h4 {
        color: black;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        background: white;
        font-weight: lighter;
    }

    .post a {
        vertical-align: middle;
    }

    .post h4 {
        font-size: 1.5em;
        margin: 25% 0 0 0;
    }

    .post p {
        margin: 0 0 25% 0;
    }

.technical {background-image: url('../images/technical.png')}

.cultural {background-image: url('../images/cultural.png')}

.project {background-image: url('../images/project.png')}

















/* =========================================== */
/* COLUMNS */
/* =========================================== */

	outsidecolumn {
		display: inline-block;
		width: 26%;
		margin-left: 5%;
		margin-right: 5%;
		vertical-align: top;
		}

		outsidecolumn h2 {
			text-align: center;
			background-color: #3399FF;
			color: yellow;
			padding: 0% 1%;
			width: 100%;
			border-style: solid;
			border-color: black;
			border-radius: 17px;
			}

		outsidecolumn li {
			padding-bottom: 4px;
			}

			outsidecolumn li a {
				text-decoration: none;
				}

				outsidecolumn li a:visited {
					color: blue;
					}

	middlecolumn {
		display: inline-block;
		width: 26%;
		vertical-align: top;
		}

		middlecolumn h2 {
			text-align: center;
			background-color: #3399FF;
			color: yellow;
			padding: 0% 1%;
			width: 100%;
			border-style: solid;
			border-color: black;
			border-radius: 17px;
			}

		middlecolumn li {
			padding-bottom: 4px;
			}

				middlecolumn li a {
					text-decoration: none;
					}

					middlecolumn li a:visited {
						color: blue;
						}

	singlecolumn {
	display: block;
	width: 26%;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	}

	singlecolumn h2 {
		text-align: center;
		background-color: #3399FF;
		color: yellow;
		padding: 0% 1%;
		width: 100%;
		border-style: solid;
		border-color: black;
		border-radius: 17px;
		}

	singlecolumn li {
		padding-bottom: 4px;
		}

			singlecolumn li a {
				text-decoration: none;
				}

				singlecolumn li a:visited {
					color: blue;
					}




/* =========================================== */
/* BLOG CONTENT */
/* =========================================== */

	.code {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 80%;
	}

	section {
		width: 90%;
		margin-top: auto;
		margin-right: auto;
		margin-left: auto;
		display: block;
		}

		section h1 a:visited {
				color: blue;
			}

	article {
		width: 60%;
		margin: 3.5% auto 5% auto;
		padding-top: 7.5%;
		display: block;
		}

		article h1 {
			font-size: 2em;
			padding-bottom: 3px;
		}

		article h2 {
			font-size: 1.5em;
			padding-bottom: 3px;
		}

		article h3 {
			font-style: italic
		}

		article p {
			padding: 10px 0 10px 0;
		}

		article iframe {
			margin-left:auto;
			margin-right:auto;
			display:block
		}

			article ol li a:visited, article ul li a:visited {
				color: blue;
				text-decoration: none;
			}

			article ol li, article ul li {
				padding-bottom: 1em;
			}



	.imgcenter {
		vertical-align: middle;
		width: 500px;
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		}

	.imgs {
		width: 100%;
		position: relative;
		text-align: center;
		}

	.img1 {
		vertical-align: middle;
		width: 40%;
		margin-right:10%;
		}

	.img2 {
		vertical-align: middle;
		width: 40%;
		}




/* =========================================== */
/* FOOTER */
/* =========================================== */

#contact {
	padding: 2.5% 0 2.5% 10%;
	background-color: white;
	}

.social {
	width: 100%;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	margin: 0 auto;
	}

	.social li {
		text-align: center;
		float: left;
		width: 14.28%;
		}

		.social li a {
			display: block;
			width: 50px;
			}

#copyright {
	background: white;
	padding-bottom: 2.5%;
}

	#copyright p {
		background: white;
		text-align: center;
		display: block;
		margin:0 auto;
		background-color: white;
	}


/* =========================================== */
/* =========================================== */
/* MEDIA QUERIES */
/* =========================================== */
/* =========================================== */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.post {
		width:98%;
		margin-bottom: 5%;
		font-size: 3em;
		border: 1% solid black;
		border-radius: 10px;
	}
	.one-third {
		display:none;
	}
	.photo {
		display:block;
	}
	.two-third {
		width:100%;
		border:none;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.post {
		width:42%;
		margin: 3%;
	}
	.one-third {
		width:28%;
	}
	.two-third {
		width:50%;
	}
	.photo {
		display:none;
	}
}

@media only screen and (min-width:1024px) {
	.post {
		width:30%;
	}
	.one-third {
		width:28%;
	}
	.two-third {
		width:50%;
	}
	.circle-photo {
		display:none;
	}
}

/* =========================================== */
/* =========================================== */
/* =========================================== */
/* =========================================== */
