.font {
	color: #000 !important;
	font-family: Courier; monospace; !important;
	}

.center {
	text-align: center;
	}

header {
	position: fixed;
	background-color: #3399FF;
	width: 1000px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 5px;
	padding: 10px 10px 10px 10px;
	}

.nav {
	text-decoration: none;
    text-align: center;
	width: 100%;
	margin: 0 auto
	}

content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100 px;
	width: 1000px;
	display: inline-block;
	}

footer {
	text-align: center;
	background-color: #00CC00;
	width: 700px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 5px;
	padding: 10px 10px 10px 10px;
	}

