.font {
	color: #000 !important;
	font-family: Courier; monospace; !important;
	}

.center {
	text-align: center;
	}

.shorthr {
	max-width: 500px;
	}

.imgcenter {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}

.imgs {
	width:100%;
	position: relative;
	text-align: center;
	}

header {
	background-color: #3399FF;
	width: 90%;
	height: 15%;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	border-style: solid;
	border-width: 5px;
	padding: 0px 10px 30px 10px;
	}

header h1 {
	color: #fff;
	}

.nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style-type: none;
	}

.nav li {
	float: left;
	width: 25%;
	}

.nav li a {
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	}

.nav li a:hover {
	color: #c00;
	background-color: #fff;
	}

.nav li a:visited {
	text-decoration: none;
	}

content {
	width: 90%;
	margin-top: 0 auto;
	margin-right: 5%;
	margin-left: 5%;
	display: inline-block;
	}

.img1 {
	width:30%;
	margin-right:10%;
	}

.img2 {
	width:30%;
	}

footer {
	background-color: #3399FF;
	width: 90%;
	height: 15%;
	margin-top: 5%;
	margin-bottom: 2.5%;
	margin-left: 5%;
	margin-right: 5%;
	border-style: solid;
	border-width: 5px;
	padding: 10px 10px 60px 10px;
	}

.social {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style-type: none;
	}

.social li {
	text-align: center;
	float: left;
	width: 14.28%;
	}

.social li a {
	display: block;
	}

.social li a:hover {
	color: #c00;
	background-color: #fff;
	}