.font {
	color: #000 !important;
	font-family: Courier; monospace; !important;
	}

.center {
	text-align: center;
	}

header {
	background-color: #3399FF;
	width: 90%;
	height: 15%;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	border-style: solid;
	border-width: 5px;
	padding: 10px 10px 10px 10px;
	}

.nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style-type: none;
	}

.nav li {
	float: left;
	}

.nav li a {
	display: block;
	padding: 0px 120px;
	text-decoration: none;
	font-weight: bold;
	}

.nav li a:hover {
	color: #c00;
	background-color: #fff;
	}

content {
	width: 90%;
	margin-top: 5%;
	margin-right: 5%;
	margin-left: 5%;
	display: inline-block;
	}

footer {
	text-align: center;
	background-color: #3399FF;
	width: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	border-style: solid;
	border-width: 5px;
	padding: 10px 10px 10px 10px;
	}

