.font {
	color: #000 !important;
	font-family: Courier; monospace; !important;
	}

.center {
	text-align: center;
	}

header {
	background-color: #00CC00;
	width: 700px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 5px;
	padding: 10px 10px 10px 10px;
	}

sidebar {
	float: left;
	margin-left: 50px;
	margin-top: 50px;
	width: 300px;
	padding: 10px 10px 10px 10px;
	border-style: solid;
	border-width: 1px;
	}

content {
	margin-left: 100px;
	width: 500px;
	display: inline-block;
	}

figure {
	float: right;
	margin-top: 50px;
	margin-right: 50px;
	width: 300px;
	padding: 10px 10px 10px 10px;
	border-style: solid;
	border-width: 1px;
	}

footer {
	text-align: center;
	background-color: #00CC00;
	width: 700px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 5px;
	padding: 10px 10px 10px 10px;
	}


