.center {
	text-align: center;
	}

header {
	background-color: #00CC00;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 10px;
	padding: 10px 10px 10px 10px;
	}

sidebar {
	float: left;
	margin-top: 100px;
	margin-left: 100px;
	width: 200px;
	padding: 10px 10px 10px 10px;
	background-color: #00CC00;
	border-style: solid;
	border-width: 10px;
	clear: left;
	}

figure {
	float: right;
	margin-right: 100px;
	padding: 10px 10px 10px 10px;
	border-style: solid;
	border-width: 10px;
	}



