.center {
	text-align: center;
	}

header {
	background-color: #00CC00;
	width: 1000px;
	height: 200px;	
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 10px;
	}

sidebar {
	float: left;
	margin-top: 100px;
	margin-right: 100 px;
	width: 200 px;
	height: 500px;
	padding: 10px 10px 10px 10px;
	background-color: #00CC00;
	border-style: solid;
	border-width: 10px;
	}